<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>resource/web.html</welcome-file>
	</welcome-file-list>

	<!-- 左侧菜单begin -->
	<servlet>
		<servlet-name>menu</servlet-name>
		<servlet-class>org.matcha.server.web.servlet.MenuServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>menu</servlet-name>
		<url-pattern>/menu</url-pattern>
	</servlet-mapping>
	<!-- 左侧菜单end -->

	<!-- MatchaServer 监听守护进程begin -->
	<servlet>
		<servlet-name>collectDaemon</servlet-name>
		<servlet-class>org.matcha.server.web.servlet.CollectDaemonServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>collectDaemon</servlet-name>
		<url-pattern>/collectDaemon</url-pattern>
	</servlet-mapping>
	<!-- MatchaServer 监听守护进程end -->
</web-app>
